<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore accusantium
    ducimus ex temporibus quos commodi veritatis necessitatibus deserunt dolorum
    dignissimos placeat, alias vel architecto ad, consequuntur aliquam quo
    repellendus? Error ipsum aliquam vitae similique facere. Minima
    necessitatibus voluptas rerum obcaecati assumenda eligendi, voluptatem
    pariatur labore ipsum omnis saepe nihil dolore?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Emman Jay Dizon</h3>
        <p class="quote__org">EMMAN DIZON COMPANY</p>
      </div>
    </div>
  </footer>
</blockquote>
